<div class="hero-unit">
  <h1>Photos#delete</h1>

  <hr>

  <h1>Delete Photo</h1>

  <%= form_for(:photos, :url => {:action => 'remove', :id => @photos.id}, :method => 'POST') do |f| %>
    <div style="padding: 15px">
    <p class="text-warning"><b>Are you sure you want to delete this position?</b></p>
      <p><%= @photos.name %></p>
      <p><%= image_tag(@photos.photo) %></p>
    </div>
    <div>
      <%= submit_tag('Delete',  :class => 'btn btn-danger') %>
    </div>
  <% end %>

  <br>

  <%= link_to('Back to main page', {:action=> 'index'}, :class => 'btn btn-warning') %>
</div>
