<div class='login'>
  <h2>Login</h2>
  <%= form_tag(:action => 'loginuser') do %>
    <table>
      <tr>
        <td><%= label_tag(:user, 'User: ') %></td>
        <td><%= text_field_tag(:user) %></td>
      </tr>
      <tr>
        <td><%= label_tag(:password, 'Password: ') %></td>
        <td><%= password_field_tag(:password) %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= submit_tag('Log in') %></td>
      </tr>
    </table>
  <% end %>
</div>
