<%= error(@articles)%>
<table class="table table-striped">
  <tr>
    <th><%= f.label(:page_id, "Page") %></th>
    <td><%= f.select(:page_id, Page.order('position ASC').map{|c| [c.name, c.id]}, :class => 'form-control') %></td>
  </tr>
  <tr>
    <th><%= f.label(:name, 'Article name') %></th>
    <td><%= f.text_field(:name, :class => 'form-control') %></td>
  </tr>
  <tr>
    <th><%= f.label(:position) %></th>
    <td><%= f.select(:position, 1..@counter, :class => 'form-control') %></td>
  </tr>
  <tr>
    <th><%= f.label(:visibility, 'Is it visible?') %></th>
    <td><%= f.check_box(:visibility) %></td>
  </tr>
<% if !@articles.photo.blank? %>
  <tr>
    <th>Photo</th>
    <td><%= image_tag(@articles.photo) %></td>
  </tr>
<% end %>
  <tr>
    <th><%= f.label(:photo, "Photo") %></th>
    <td><%= f.file_field(:photo) %></td>
  </tr>
  <tr>
    <th><%= f.label(:content) %></th>
    <td><%= f.text_area(:content, :class => 'form-control') %></td>
  </tr>
</table>
