<table class="table table-striped">
	<tr>
		<th><%= f.label(:page_id) %></th>
		<td><%= collection_select(:articles, :page_id, @page, :id, :name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:name) %></th>
		<td><%= f.text_field(:name, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= f.label(:position) %></th>
		<td><%= f.select(:position, 1..@counter, :class => 'form-control') %></td>
	</tr>
	<tr>
		<th><%= f.label(:visibility, 'Is it visible?') %></th>
		<td><%= f.check_box(:visibility) %></td>
	</tr>
	<tr>
		<th><%= f.label(:photos, 'Photo') %></th>
		<td><%= f.file_field(:photos) %></td>
	</tr>
</table>
