<p>Find me in app/views/test/hello.html.erb</p>
<h1>Test#hello</h1>

<p>
	<% sum = 2 + 2 %>
	Sum = <%= sum %>
<br/>
	<% imie = "Tomek" %>
	<%= "Hello #{imie}" %>
</p>

<p><%= link_to("Back to navigation", {:action => 'navigation'}) %></p>

<p>
<%= "Parameter ID: " + params[:id] %>
<br/>
Parameter page: <%=  params[:page] %>
</p>

Parameter page + 10(int): <%=  params[:page].to_i + 10 %> <!-- .to_i - convertion to integer -->
