<h1>Categories#index</h1>

<hr>

<%= link_to("Add new category", {:action => 'new'})  %>

<p>Count categories: <%= @category.size %></p>

<table>
	<tr>
		<th>Position</th>
		<th>Category</th>
		<th>Visibility</th>
		<th>Page</th>
		<th>Action</th>
	</tr>
<% @category.each do |c| %>
	<tr>
		<td><%= c.position %></td>
		<td><%= c.name %></td>
		<td><%= c.visibility ? 'Yes' : 'No' %></td>
		<td><%= c.pages.size %></td>
		<td>
			<%= link_to('Show', {:action => 'show', :id => c.id}) %>
			<%= link_to('Edit', {:action => 'edit', :id => c.id}) %>
			<%= link_to('Delete', {:action => 'delete', :id => c.id}) %>
		</td>
	</tr>
<% end %>	
</table>
