<h1>Categories#new</h1>
<p>Find me in app/views/categories/new.html.erb</p>

<hr>

<h1>New Category</h1>

<%= form_for(:category_form, :url => {:action => 'create'}, method: (:get)) do |f| %>
	<table>
		<tr>
			<th><%= f.label(:name) %></th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th><%= f.label(:position) %></th>
			<td><%= f.select(:position, 1..@counter) %></td>
		</tr>
		<tr>
			<th><%= f.label(:visibility, 'Is it visible?') %></th>
			<td><%= f.check_box(:visibility) %></td>
		</tr>
	</table>

	<div>
		<%= submit_tag('Create') %>
	</div>
<% end %>

<%= link_to('Back', {:action=> 'index'}) %>
