<div class="hero-unit">
  <h1>User#show</h1>

  <hr>

  <h1>User Account</h1>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>Surname</th>
      <td><%= @user.surname %></td>
    </tr>
    <tr>
      <th>Login</th>
      <td><%= @user.user %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Created at</th>
      <td><%= @user.created_at.strftime("%-d %b %H:%M") %></td>
    </tr>
    <tr>
      <th>Updated at</th>
      <td><%= @user.updated_at.strftime("%-d %b %H:%M") %></td>
    </tr>
  </table>

  <br/>

  <%= link_to('Back to main page', {:action=> 'index'}, :class => 'btn btn-primary') %>
</div>
