<div class="hero-unit">
  <h1>Article#edit</h1>

  <hr>

  <h1>Edit Article: <%= @articles.name %></h1>

  <%= form_for(:articles, :url => {:action => 'update', :id => @articles.id}, :method => 'POST') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div>
        <%= submit_tag('Update', :class => 'btn btn-primary') %>
    </div>
  <% end %>

  <br>

  <%= link_to('Back to main page', {:action=> 'index'}, :class => 'btn btn-warning') %>
</div>
