<%= error(@user)%>
<table class="table table-striped">
  <tr>
    <th><%= f.label(:name,) %></th>
    <td><%= f.text_field(:name, :class => 'form-control', :placeholder => "Put user name.") %></td>
  </tr>
  <tr>
    <th><%= f.label(:surname,) %></th>
    <td><%= f.text_field(:surname, :class => 'form-control', :placeholder => "Put user surname.") %></td>
  </tr>
  <tr>
    <th><%= f.label(:user,) %></th>
    <td><%= f.text_field(:user, :class => 'form-control', :placeholder => "Put user login.") %></td>
  </tr>
  <tr>
    <th><%= f.label(:email,) %></th>
    <td><%= f.text_field(:email, :class => 'form-control', :placeholder => "Put user email.") %></td>
  </tr>
  <tr>
    <th><%= f.label(:password,) %></th>
    <td><%= f.password_field(:password, :class => 'form-control', :placeholder => "Put user password.") %></td>
  </tr>
  <tr>
    <th><%= f.label(:password_confirmation) %></th>
    <td><%= f.password_field(:password_confirmation, :class => 'form-control', :placeholder => "Confirm user password.") %></td>
  </tr>
</table>
