<div class="hero-unit">
  <h1>Categories#index</h1>

  <hr>

  <%= link_to("Add new category", {:action => 'new'}, :class => 'btn btn-mini btn-primary')  %>

  <p style="text-align: right;">Count categories: <%= @category.size %></p>

  <table class="table table-striped">
    <tr class="info">
      <th>Position</th>
      <th>Category</th>
      <th>Visibility</th>
      <th>Page</th>
      <th>Action</th>
    </tr>
  <% @category.each do |c| %>
    <tr>
      <td><%= c.position %></td>
      <td><%= c.name %></td>
      <td class="center"><%= visibility_icon(c.visibility) %></td>
      <td class="center"><%= c.pages.size %></td>
      <td class="action">
        <%= link_to('Pages', {:controller => 'pages', :category_id => c.id}, :class => 'btn btn-xs btn-success') %>
        <%= link_to('Show', {:action => 'show', :id => c.id}, :class => 'btn btn-xs btn-default') %>
        <%= link_to('Edit', {:action => 'edit', :id => c.id}, :class => 'btn btn-xs btn-primary') %>
        <%= link_to('Delete', {:action => 'delete', :id => c.id}, :class => 'btn btn-xs btn-danger') %>
      </td>
    </tr>
  <% end %> 
  </table>
</div>

